# define new_function()

In [1]:
def new_function():
    print("Hi, from the new_function")

In [2]:
#call new_function
new_function()
new_function()

Hi, from the new_function
Hi, from the new_function

In [8]:
def hi_function(name):
    print("Hi " + name)
    
#call hi_function and give values for name
hi_function("Fred")
hi_function("Joe")

Hi Fred
Hi Joe

In [7]:
def hi_function(name = "Marcelo"):
    print("Hi " + name)
    

hi_function()

Hi Marcelo

# insert a list as an argument for fruits

In [11]:
def fruits(name):
    for i in name:
        print(i)

fruit_names = ["Apple", "banana", "watermelon"]
fruits(fruit_names)

Apple
banana
watermelon

# use return and expression

In [13]:
def degrees(x):
    return 15 * x

print(degrees(2))
print(degrees(3))

30
45

# using multiple arguments

In [15]:
def new_names(name1, name2, name3):
    print("The first name is " + name1)
    print("The second name is " + name2)
    print("The third name is " + name3)
    

new_names(name1 = "ronaldo", name2 = "john", name3 = "fred")

The first name is ronaldo
The second name is john
The third name is fred

# Arbitraty arguments

In [11]:
def fruits(*name):
    print("The fruit is " + name[0])
    
fruits("Apple", "Fig", "Cherry")

The fruit is Apple

# Recursion

In [21]:
def numbers(n):
    if(n>0):
        result = n + numbers(n-1)
        print(result)
    else:
        result = 0
    return result

print("\n \n recursion results")
numbers(6)

 recursion results
1
3
6
10
15
21

21

# lambda anonymous

In [22]:
x = lambda i : i + 10
print(x(5))

15

In [24]:
calculate = lambda x,y : x * y
print(calculate(5,7))

35

In [25]:
math_op = lambda x,y, z : x * y + z
print(math_op(2,3,4))

10

In [27]:
#lambda with user function

def multiply(n):
    return lambda x : x * n

double = multiply(2)
triple = multiply(3)

print(double(10))
print(triple(10))

20
30

In [ ]:
def fib(n):
    if n < 0:
        print("input is not valid")
    elif n == 0:
        return 0
    elif n == 1 or n == 2 :
        return 1
    else:
        return fib(n-2) + fib(n-1)